.blog-usrname{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
}
.b-heading{
    font-family:'Times New Roman', Times, serif;
}
.blog-card,.comment{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.102);
}